@import '../styles/vars';
@import '../styles/mixin';

.page__container {
  margin-inline: auto;
  max-width: 1136px;
  padding-inline: 10px;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin-bottom: 10px;

  &__content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 1px dashed white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 47px;
    user-select: none;
    color: white;
    padding-inline: 10px;

    @include tablet {
      font-size: 40px;
      padding-inline: 10px;
    }
  }
  &__row {
    display: flex;
    width: 60%;
    @include mobile {
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding-inline: 10px;
    }
    @include tablet {
      width: 80%;
    }
  }
  &__search {
    // width: 80%;
    flex: 1;
    padding: 15px;
    outline: 0;
    padding-inline: 30px;
    font-size: 22px;
    background-color: #fff;
    border: 0;
    border-radius: 30px 0 0 30px;

    @include tablet {
      padding-left: 15px;
      padding-right: 0;
    }
    @include mobile {
      border-radius: 30px;
      padding-left: 25px;
      padding-right: 15px;
    }
  }
  &__btn {
    // background: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68);
    background-color: #f5941a;
    border: 0;
    border-radius: 0 30px 30px 0;
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 60px;
    outline: 0;
    padding-inline: 30px;

    &:hover {
      background-color: #bb751e;
    }

    @include tablet {
      padding-inline: 10px;
    }
    @include mobile {
      border-radius: 30px;
    }
  }
}

.filters {
  // border: 1px dashed;
  display: flex;
  gap: 10px;
  width: calc(100% - 84px);
  margin: 0 auto 15px;
  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    width: 100%;
  }

  &__top {
    text-align: center;
    font-size: 18px;
    background: #f8fcff;
    box-shadow: 10px 0 40px rgba(114, 114, 114, 0.15);
    border-radius: 8px;
    width: calc(100% - 84px);
    margin: 0 auto 15px;
    padding: 1px;
    @include tablet {
      width: 100%;
    }
  }

  &__item {
    // border: 1px solid;
    border-radius: 8px;
    overflow: hidden;
    height: 350px;
    width: 100%;
    position: relative;
    @include tablet {
      height: 250px;
    }

    &_title {
      text-transform: capitalize;
      font-size: 22px;
      position: absolute;
      color: #f5941a;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: gray;
      padding-block: 10px;
    }
  }
}
