@import '../../styles/vars';
@import '../../styles/mixin';

.footer {
  // background-color: rgba(250, 128, 114, 0.116);
  box-shadow: 0 -1px 0 0 #c1c3c4;

  &__container {
    margin-inline: auto;
    max-width: 1136px;
    padding: 15px 10px;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    min-height: 50px;
    align-items: center;
    position: relative;
  }
  &__top {
    display: flex;
    gap: 30px;
    margin-block: 15px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  &__link {
    color: #89939a;
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.04em;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #313237;
    }
  }
  &__bot {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 10px;
  }
  &__backToTop {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 10px;
    top: 50%;
    // transition: scale 0.3s linear;
    border: 1px solid grey;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url('../../../public/img/svg/arrow.svg');
    transform: translateY(-50%) rotate(-90deg);

    &:hover {
      // scale: 1.1;
      border: 1px solid rgb(7, 7, 7);
    }
  }
}
