.sortBy {
  display: flex;
  gap: 10px;
  // background-color: red;

  &__place {
    position: relative;
    // width: 100px;
  }
  &__trigger {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.089);
  }
  &__options {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 20px;
    bottom: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    &--active {
      bottom: auto;
    }
  }
}
