.container {
  margin: 0 auto;
  margin-top: 0px;
  max-width: fit-content;
  padding: 20px 30px;
  margin-top: 50px;
  min-width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
}

.title {
  margin-top: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px 20px;
  border: none;
  border-radius: 14px;
  font-size: 19px;
}
.war {
  border: 2px solid #dd5656;
}

.button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border: none;
  border-radius: 14px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: grey;
  }

}

.reg {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.message {
  text-align: center;
  &__error {
    color: #dd5656;
    font-size: 17px;
    margin: 20px auto 0;
  }
}
